.left-container{
  
  width: 450px;
  height: calc(100vh - var(--pdn) * 2); //hijack(wat is hijack) height at a later date
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  padding: var(--pdn);
  transition: ease all 0.3s;
  
  
  
  .left-cont-title{
    font-size: 3.75rem;
    // border: dashed black 2px;
    color: #9E9E9E;
  }
  
  .allposts-column{
    // min-width: 450px;
    overflow: hidden;
    flex-basis: 100%;
    position: relative;
    padding-top: var(--pdn);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
    .left-col-dataline{
      display: grid;
      gap: var(--pdn);
      grid-template-columns: repeat(2, 1fr);
      border-top: solid var(--gryline) 1px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      
   }
   
  }
  
  .fade{
    height: 3em;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }


  }

  .hover-1  {
    background-image: linear-gradient(#ffffffb7,#ffffff);
    background-size: 0 100%;
    background-blend-mode: darken;
    transition: .8s;
  }
  .hover-1:hover {
    background-size: 100% 100%;
    color:rgb(27, 27, 27);
  }

  .active {
    color: rgba(0, 0, 0, 0.541);
    background: #dee2e4b7;
  }