//App.scss
*{

  font-family: Arial, Helvetica, sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

  color: var(--text-color);

}

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

:root{ //css variables accessable by browser
  --pdn: 10px; 
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #fffffff8;
}


#root{
  padding: var(--pdn);
}
.main-container{
  display: flex;
  gap: var(--pdn);
}
.left-container{
  background-color: red;
  width: 30%;
  height: calc(100vh - var(--pdn) * 2); //hijack(wat is hijack) height at a later date
  overflow: hidden;
  
  }
.right-container{
  width: 70%;
  background-color: grey;
  border-radius: 10px; //magic number
}
